Flask==2.3.3
Flask-CORS==4.0.0
Pillow==10.0.1
numpy==1.24.3
opencv-python==4.8.1.78
tensorflow==2.13.0
torch==2.0.1
torchvision==0.15.2
scikit-image==0.21.0
scipy==1.11.1
dlib==19.24.2
basicsr==1.4.2
facexlib==0.3.0
gfpgan==1.3.8
realesrgan==0.3.0
Werkzeug==2.3.7
psutil
nvidia-ml-py3
reportlab 